.App form div input{
  margin: 1% auto;
  padding: 1%;
  display: block;
}

.App ul{
  list-style: none;
  padding-inline-start: 0;
}

.App ul li{
  display: block;
  padding: 5px;
  text-align: center;
}

.App ul li button{
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 100px;
}